@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center">

    <a class="nav-link text-dark" href="/warp/register">
        <div class="card stretch-card mb-3">

            <div class="card-body p-0">
                <img class="img-fluid w-100" src="~/img/172bd56d-b7fb-4a61-be85-b220bf88152a.gif" alt="" />
            </div>
            <div class="card-body d-flex flex-wrap justify-content-center">
                <div>
                    <h4 class="font-weight-semibold mb-1 text-black "> ส่งรูปขึ้นจอ </h4>
                </div>
            </div>
        </div>
    </a>

</div>

<script>
    function asldi(){
        alert('test');
    }
</script>