@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="col-sm-3 col-xl-3 stretch-card grid-margin"></div>
        <div class="col-sm-3 col-xl-3 stretch-card">
            <a class="nav-link text-dark" href="/tips/index/">
                <div class="card stretch-card mb-3">

                    <div class="card-body p-0">
                        <img class="img-fluid w-100" src="~/img/9dda3138-133d-47d6-b578-1cd1f88079b0.gif" alt="" />
                    </div>
                    <div class="card-body d-flex flex-wrap justify-content-between">
                        <div>
                            <h4 class="font-weight-semibold mb-1 text-black justify-content-between"> ขอเพลง - ทิป </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xl-3 stretch-card grid-margin">
        <a class="nav-link text-dark" href="/warp/index/">
                <div class="card stretch-card mb-3">

                    <div class="card-body p-0">
                        <img class="img-fluid w-100" src="~/img/172bd56d-b7fb-4a61-be85-b220bf88152a.gif" alt="" />
                    </div>
                    <div class="card-body d-flex flex-wrap justify-content-between">
                        <div>
                            <h4 class="font-weight-semibold mb-1 text-black"> ส่งรูปขึ้นจอ </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xl-3 stretch-card grid-margin"></div>
    </div>

<script>
    function asldi(){
        alert('test');
    }
</script>