################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pedshair/.vs
/Pedshair/Pedshair/obj
